/* Add CSS Styling */

.odd-element {
    background-color: rgb(209, 132, 185);
    font-family: Verdana, 'DejaVu Sans', 'sans-serif';
}

#second-element {
    color: rgb(46, 93, 214);
    font-size: 36px; 
}

.third-element {
    font-size: 24px;
}

.fourth-element {
    background-color: rgb(160, 214, 160);
    font-size: 24px;
    font-weight: bold;
}
