/* Add CSS Styling */

.first-element {
    background-color: black;
    color: white;
}

.second-element {
    background-color: #ecec13; 
}

.font-class {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', 'sans-serif';
}
